/* ProductCard.css */
.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    flex-grow: 1;

   align-items: center;
    margin-bottom: 20px; 
    width: 300px; 
    height: 30%; 
    color: #000;
  }
  
  .product-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    width: 200px;
    
    
    border-bottom: 1px solid #ccc;
  }
  
  .product-details {
    padding: 10px;
  }
  
  .product-details h3 {
    margin-top: 0;
  }
  
  .product-details p {
    margin: 5px 0;
  }
  
  .product-details div {
    font-style: italic;
  }
  
  @media (max-width: 425px) {
    /* .product-card {
      width: 100%; 
    } */
  }
  